{% extends "base.html" %} {% block title %}Form{% endblock %} {% block content%}

<div class="poll-container">
    <div id="question-container">
        <form method="POST" onsubmit="handleSubmission(event)">
        <input type="hidden" name="num_questions" id="num_questions" value="1">
        <div class="poll-question">
            <label for="question">Poll Question:</label>
            
            <input type="text" class="question" name="question1" placeholder="Enter your question"> <button onclick="addQuestion(event)">Add Question</button>
        </div>

        <div class="poll-options">
            <label for="options">Poll Options:</label>
            <div class="options-container">
                <div class="poll-option">
                    <input type="text" class="option-input"  name="option1" placeholder="Option 1">
                </div>
                <div class="poll-option">
                    <input type="text" class="option-input"  name="option1" placeholder="Option 2">
                    <button onclick="removeOption(this)">Remove</button>
                </div>
            </div>
            
            
            <button onclick="addOption(event, this)">Add Option</button>
        </div>
    </div>
    <input type="submit" value ="Save" id="saveButton">
    </form>

</div>

<script>
    function addOption(something, button) {
    something.preventDefault();
    const optionsContainer = button.parentNode.getElementsByClassName('options-container')[0];
    const option = document.createElement('div');
    option.classList.add('poll-option');
    option.innerHTML = `
        <input type="text" class="option-input" name="option" placeholder="Option ${optionsContainer.children.length + 1}">
        <button onclick="removeOption(this)">Remove</button>
    `;
      optionsContainer.appendChild(option);
  }
    
  function removeQuestion(button) {
    event.preventDefault();
    const numQuestions = document.getElementById('num_questions');
    numQuestions.value = parseInt(numQuestions.value) - 1;
    const questionsContainer = document.getElementById('question-container');
    questionsContainer.removeChild(button.parentNode);
  }
    
  function removeOption(button) {
    event.preventDefault();
    const optionsContainer = button.parentNode.parentNode;
    optionsContainer.removeChild(button.parentNode);
  }
    
  function addQuestion(something) {
    something.preventDefault();
    const numQuestions = document.getElementById('num_questions');
    numQuestions.value = parseInt(numQuestions.value) + 1;
    const questionContainer = document.getElementById('question-container');
    const questionDiv = document.createElement('div');
    questionDiv.classList.add('poll-question');
    questionDiv.innerHTML = `
        <label for="question">Poll Question:</label>
    
        <input type="text" class="question" placeholder="Enter your question">
        <button onclick="removeQuestion(this)">Remove Question</button>
        <div class="poll-options">
            <label for="options">Poll Options:</label>
            <div class="options-container">
                <div class="poll-option">
                    <input type="text" class="option-input"  name="option" placeholder="Option 1">
                </div>
                <div class="poll-option">
                    <input type="text" class="option-input"  name="option" placeholder="Option 2">
                    <button onclick="removeOption(this)">Remove</button>
                </div>
            </div>
            <button onclick="addOption(event, this)">Add Option</button>
    `;
    questionContainer.insertBefore(questionDiv, questionContainer.children[1]);
  }
    
  function buildPoll() {
      const question = document.getElementById('question').value;
      const options = document.querySelectorAll('.option-input');
      const poll = {
          question: question,
          options: []
      };
    
      options.forEach(option => {
          poll.options.push({
            text: option.value,
            votes: 0
          });
      });
    
      document.getElementById('result').innerHTML = `
          <h3>${poll.question}</h3>
          <ul>
              ${poll.options.map(option => `<li><input type="radio" name="pOption">${option.text}</li>`).join('')}
          </ul>
          <input type="submit" value="vote">
      `;
  }
  
  function handleSubmission(event) {
    if (event.submitter.id !== 'saveButton') {
        event.preventDefault();
    }
    }

  </script>
</body>
{% endblock %}
